doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
	body.uk-animation-fade
		include ../components/header.pug
		//- Твой код тут 
		include ../components/footer.pug
		include assets/_scripts.pug